 *{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal
}


.page{

  background-image: url("1.jpg");
  background-size: cover;
  height: auto;
  max-width: 100%;
}

.btn_one i{
  color: white;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  left: 15px;
  line-height: 50px;
  transition: all 0.3s linear;
}

.sidebar_menu{
  color: white;
  position: fixed;
  left: -300px;
  height: 100vh;
  width: 300px;
  background-color: rgba(81, 45, 45, 0.1);
  box-shadow: 0 0 8px rgba(255, 255,255, 0.6);
  transition: all 0.3s linear;
}

.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  line-height: 50px;
  box-shadow: 0 2px 4px rgba(255, 255,255, 0.6);
  height: 60px;
}

.sidebar_menu .logo a{
  position: absolute;
  left: 80px;
  font-size: larger;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.sidebar_menu .menu{
  position: absolute;
  width: 100%;
  top: 80px;
}

.sidebar_menu .btn_two i{
   color: rgb(88, 88, 88);
  font-size: 25px;
  font-weight: 900;
  position: absolute;
  left: 265px;
  line-height: 50px;
  /* opacity: 0; */
  cursor: pointer;
  transition: all 0.3s linear;
}


.sidebar_menu .menu li{
  margin-top: 12px;
  padding: 12px 20px;
}

.sidebar_menu .menu a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
.sidebar_menu .menu i{
  padding-right: 8px;
}

.sidebar_menu .social_media {
  position: absolute;
  left: 25%;
  bottom: 50px;
}

.sidebar_menu .social_media i{
  color: white;
  opacity: 0.6;
  font-size: larger;
  padding: 0 5px;
}

#check{
  display: none;
}

.sidebar_menu .menu li:hover{
  box-shadow: 0 0 6px rgba(255, 255,255, 0.6);
}

.btn_one i:hover{
  font-size: 40px;
}

.btn_two i:hover{
  font-size: 30px;
  color: white;
}


.sidebar_menu .social_media i:hover{
  font-size: x-large;
  opacity: 4;
}

#check:checked ~ .sidebar_menu{
  left: 0;
}

#check:checked ~ .btn_one{
  opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two{
  opacity: 1;
}


